<ul class="breadcrumb">
  <li>
    <a href="<%= projects_path %>">TaskMonitor</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Восстановление пароля
  </li>
</ul>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal'}) do |f| %>

  <legend>Восстановление пароля</legend>
  
  <% if not devise_error_messages!.empty? %>
	  <div class="alert alert-block">
	  	<%= devise_error_messages! %>
	  </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">E-Mail</label>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Отправить инструкции по восстановлению", :class => 'btn' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>
