%ul.breadcrumb
  %li
    %a{:href => projects_path} TaskMonitor
    %span.divider /
  %li
    %a{:href => projects_path} Проекты
    %span.divider /
  %li.active= @project.name

%input{:id => 'project', :type => 'hidden', :value => @project.id}

= render :partial => "projects/tasks/buttons"

%script 
  var time_interval = #{@json_time_interval.html_safe};
  var tasks = #{@json_tasks.html_safe};

.page-content
  .row
    .span9
      - unless @tasks.empty?
        .tasks-container.span9
          - @tasks.each do |task|
            .task-item= task.name
