!!!
%html
  %head
    %title Taskmonitor
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span2
          %h1 Меню
          .btn-group
            %a.btn.btn-primary{:href => '#'}
              %i.icon-user.icon-white
                = #{current_user.email}
            %a.btn.btn-primary.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
              %span.caret
            %ul.dropdown-menu
              %li.divider
              %li
                %a{:href => '#'}
                  %i
                  Выйти
        .span10
          %h1 TaskMonitor

          - if current_user
            = "Signed in as #{current_user.email}"
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign in", new_user_session_path

          =yield

          %p.notice
            = notice
          %p.alert
            = alert