!!!
%html
  %head
    %title Taskmonitor
    = stylesheet_link_tag    "bootstrap.min"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery"
    = javascript_include_tag "bootstrap.min"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .navbar
          .navbar-inner
            %a.brand{:href => projects_path} TaskMonitor
      .row
        - if user_signed_in?
          .span3
            = render :partial => "layouts/profile_controls"
            = render :partial => "projects/menu_left", :object => @projects

        .span9
          - if current_user
            = "Signed in as #{current_user.email}"
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign in", new_user_session_path

          =yield

          %p.notice
            = notice
          %p.alert
            = alert