!!!
%html
  %head
    %title Taskmonitor
    = stylesheet_link_tag    "bootstrap.min"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery"
    = javascript_include_tag "bootstrap.min"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span3
          %h1 Меню

          = render :partial => "projects/menu_left", :object => @projects

          .btn-group
            %a.btn.btn-primary{:href => '#'}
              %i.icon-user.icon-white
              = current_user.email.split('@')[0]
            %a.btn.btn-primary.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => '#'}
                  %i
                  Профиль
              %li.divider
              %li
                %a{:href => destroy_user_session_path}
                  %i
                  Выйти
        .span9
          %h1 TaskMonitor

          - if current_user
            = "Signed in as #{current_user.email}"
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign in", new_user_session_path

          =yield

          %p.notice
            = notice
          %p.alert
            = alert